<div class="uk-container uk-margin-large-top uk-margin-large-bottom uk-width-xlarge@m uk-align-center uk-text-center">

  <div class="uk-card uk-card-default uk-card-body uk-box-shadow-large uk-padding-large">

    <h1 class="uk-heading-medium uk-margin-medium-bottom">
      Bienvenue sur la Gestion des Articles
    </h1>

    <p class="uk-text-large uk-text-emphasis uk-margin-large-bottom">
      Ceci est le projet d'application Angular <br>
      réalisé par <strong class="uk-text-primary">ALBERTEAU Théotim</strong>.
    </p>

    <button class="uk-button uk-button-primary uk-button-large" (click)="onClickGoList()">
      <span uk-icon="icon: chevron-right"></span> Accéder à la liste des articles
    </button>

  </div>

</div>
