<header class="uk-background-secondary uk-box-shadow-small">
  <div class="uk-container uk-container-expand">
    <nav class="uk-navbar uk-navbar-container uk-navbar-transparent" uk-navbar>

      <div class="uk-navbar-left">
        <h2 (click)="onClickGoList()" class="uk-navbar-item uk-text-bold uk-text-large uk-light uk-margin-remove">
          Gestion des articles</h2>
      </div>

      <div class="uk-navbar-right">
        @if (!loginService.login) {
          <button
            (click)="onClickLogin()"
            class="uk-button uk-button-default uk-light uk-text-bold uk-margin-small-top uk-margin-small-bottom">
            LOGIN
          </button>
        }

        @if (loginService.login) {
          <div class="uk-inline uk-margin-small-right">
            <div class="uk-cover-container profile-icon uk-border-circle"
                 uk-toggle="target: #dropdown-profil; mode: click">
              <img alt="image_profil" src="/profil.png" uk-cover>
            </div>
            <div id="dropdown-profil" uk-dropdown="pos: bottom-right; offset: 10">
              <ul class="uk-nav uk-dropdown-nav">
                <li>
                  <a (click)="onClickLogout()">
                    <span uk-icon="icon: sign-out"></span> Log Out
                  </a>
                </li>
                 <!--<li><a><span uk-icon="icon: user"></span> Mon Profil</a></li>-->
                <li>
                  <a (click)="onClickGoSettings()">
                    <span uk-icon="icon: settings"></span> Paramètres
                  </a>
                </li>
              </ul>
            </div>
          </div>
        }


      </div>

    </nav>
  </div>
</header>

<router-outlet/>
