<div class="uk-container uk-margin-large-top uk-width-large@s uk-align-center uk-height-viewport">

  <h2 class="uk-text-center uk-margin-medium-bottom">Connexion</h2>

  <div class="uk-card uk-card-default uk-card-body uk-box-shadow-medium">

    <div class="uk-grid-small" uk-grid>

      <div class="uk-width-1-1 uk-margin-small-bottom">
        <label class="uk-form-label" for="form-email">Email</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="form-email" [(ngModel)]="email" type="text" placeholder="Entrez votre email">
        </div>
      </div>

      <div class="uk-width-1-1 uk-margin-small-bottom">
        <label class="uk-form-label" for="form-password">Mot de passe</label>
        <div class="uk-form-controls uk-inline uk-width-1-1">
          <input class="uk-input" id="form-password" [(ngModel)]="password" [type]="loginService.passwordInputType" placeholder="Entrez votre mot de passe">

          <a (click)="loginService.togglePasswordVisibility('password')"
             class="uk-form-icon uk-form-icon-flip"
             style="cursor: pointer;"
             [attr.uk-icon]="loginService.passwordInputType === 'password' ? 'icon: eye-slash' : 'icon: eye'">
          </a>
        </div>
      </div>

      <div class="uk-width-1-1 uk-text-small uk-text-right">
      </div>

    </div>
  </div>

  <div class="uk-margin-medium-top">
    <button class="uk-button uk-button-primary uk-width-1-1" (click)="onClickLogin()">
      <span uk-icon="icon: unlock"></span> Connexion
    </button>
  </div>

  <p class="uk-text-center uk-text-small uk-margin-large-top">
    Pas encore de compte ? <a href="/Signup">S'inscrire ici</a>
  </p>

</div>
